
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 30px;
  align-items: stretch;
  justify-content: center;

  @media (min-width: 640px) { 
    grid-template-columns: repeat(2, minmax(0, 300px));
    column-gap: 50px;
  }
  @media (min-width: 768px) {
    grid-template-columns:  repeat(3, minmax(0, 300px));
    column-gap: 50px;
  }
  @media (min-width: 1024px) { 
    grid-template-columns: repeat(4, minmax(0, 300px)); 
    column-gap: 50px;
  }
}