.header {
  height: 70px;
  background-color: #1a202c;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 20px;

  font-family: 'Poppins', sans-serif;

  &__title {
    color: rgba(255, 255, 255, 1);
  }

  &__plus {
    cursor: pointer;
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.plus {
  background-image: url(../../assets/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}